@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-weight: 300;
}

body {
  height: 100vh;
  background-color: #151515;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
img {
  margin: 0;
  padding: 0;
}

.banner {
  height: 28rem;
  background-color: transparent;
  background-image: linear-gradient(
      to bottom,
      rgba(15, 15, 15, 0),
      rgb(21, 21, 21)
    ),
    linear-gradient(to bottom, rgba(21, 21, 21, 0.8), rgba(21, 21, 21, 0.5)),
    url("https://rawg.io/assets/images/bg.a2694ef5f34dcd1aa3bed3b1dc0055b5.jpg");
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  width: 100%;
}

.header {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.2;
}

.title {
  font-size: 5rem;
  color: #fff;
  padding: 8rem 0 0 0;
}

.subTitle {
  font-size: 2rem;
  color: #ccc;
}

.main {
  position: relative;
  top: 28rem;
  width: 100%;
  height: 100%;
  background-color: #151515;
  bottom: 0;
}

.wrapper {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
}

.games-collection {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-flow: row wrap;
  padding: 4rem 0 2rem 0;
}

.games-collection-list {
  list-style: none;
  margin-right: 0.6rem;
}

.games-collection-list:last-child {
  margin-right: 0;
}

.button {
  background-color: #0971f1;
  padding: 0.4rem 1rem;
  margin-bottom: 0.6rem;
  border-radius: 6.6rem;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.8);
}

.game {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  display: grid;
  grid-template-columns: 24rem 1fr;
  margin-bottom: 2rem;
  transition: box-shadow 250ms ease-in;
  border-radius: 0.3rem;
  cursor: default;
}

.game:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.poster {
  width: 100%;
  height: 100%;
}

.right-wrapper {
  padding: 0.6rem 1rem;
}

.game-title {
  font-size: 1.8rem;
  color: #fff;
  font-weight: 300;
}

.game-description {
  font-size: 1rem;
  line-height: 1.4;
  color: #888;
  padding: 0.2rem 0 1rem 0;
  font-weight: 300;
}

.game-developer {
  font-size: 1rem;
  color: #d3d3d3;
  padding: 0.2rem 0;
}

.game-availability {
  font-size: 1rem;
  color: #d3d3d3;
}

.game-rating {
  font-size: 1.4rem;
  color: #0971f1;
  padding: 1rem 0 0 0;
}

footer {
  background-color: #333;
  padding: 2rem 0;
  text-align: center;
  color: #fff;
}

.footer-text a {
  color: #fff;
  text-decoration: none;
}

.social-icon {
  height: 2rem;
  cursor: pointer;
}

@media (min-width: 77.5rem) {
  .wrapper {
    max-width: 77.5rem;
  }
}

@media screen and (max-width: 32.18rem) and (min-width: 0) {
  .title {
    font-size: 3rem;
    padding: 14rem 0 0 0;
  }
  .subTitle {
    font-size: 1.5rem;
    color: #ccc;
  }

  .game {
    display: grid;
    grid-template-columns: 1fr !important;
  }
}

@media screen and (max-width: 49rem) and (min-width: 32.18rem) {
  .title {
    font-size: 3.4rem;
    padding: 14rem 0 0 0;
  }

  .subTitle {
    font-size: 1.5rem;
    color: #ccc;
  }

  .game {
    display: grid;
    grid-template-columns: 1fr !important;
  }
}
